.u-section-1 {
  background-image: url("images/background_web1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1185px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 98px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 760px;
  animation-duration: 1000ms;
  margin: 98px auto 0;
}

.u-section-1 .u-line-2 {
  width: 912px;
  height: 3px;
  margin: 98px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 977px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 453px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }
}